/* font-family */
@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: bold;
    src:
        url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-bold.woff2?v=1670917251') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-bold.woff?v=1670917251') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 700;
    src:
        url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-semibold.woff2?v=1670917251') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-semibold.woff?v=1670917251') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    src:
        url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-medium.woff2?v=1670917251') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-medium.woff?v=1670917251') format('woff');
}

@font-face {
    font-display: swap;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: normal;
    src:
        url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-light.woff2?v=1670917251') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0550/0524/9633/files/gilroy-light.woff?v=1670917251') format('woff');
}

* {
    font-family: 'Gilroy';
    outline: none;
}

:root {
    --primary-color: #FD5000; /* 系统主题色 */
    --text-main-color: #333; /* 标题、主要文本颜色 */
    --text-sub-color: #666; /* 常规、次要按钮颜色 */
    --text-info-color: #999; /* 副文案、辅助说明信息 */
    --disable-color: #ccc; /* 弱文案、失效、不可点 */
    --weak-color: #ddd; /* 输入框、选择边框 */
}
